* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mukta", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.205);
}

main {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

header {
  width: 100%;
  height: 44px;
  display: flex;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4rem;
}

header img {
  object-fit: contain;
  height: 100%;
  cursor: pointer;
}

#hero {
  height: 600px;
  width: 100%;
  position: relative;
  margin-bottom: 44px;
  overflow: hidden;
}

#hero:hover img {
  scale: 1.05;
  transition: all 10s ease;
}

#hero img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#hero video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#black-filter {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  animation: gradient-in 15s ease-in;
  background: linear-gradient(to right, black, transparent);
}

#hero-content {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-content h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 3rem;
}
#hero-content p {
  padding-top: 1rem;
  line-height: 1.8rem;
  width: 80%;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
}

#hero-content button {
  background-color: transparent;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;
  margin-top: 20px;
  padding: 0.7rem;
  width: 140px;
  font-weight: 600;
  font-size: 14.5px;
  cursor: pointer;
  position: relative;
}
#hero-content button span {
  margin-left: 8px;
}
#hero-content button:hover span {
  margin-left: 16px;
  transition: all 0.2s ease;
}

#hero-content button:hover {
  border: 1px solid #00bcf1;
  color: #00bcf1;
  transition: all 0.2s ease;
}

#components {
  padding-inline: 5rem;
  text-align: center;
}
#components h1 {
  color: #00bcf1;
  font-weight: 500;
  font-size: 2.2rem;
  margin-block: 3rem;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  text-align: left;
  gap: 25px;
}

#tab-1,
#tab-2,
#tab-3 {
  animation: slide-in 0.5s ease;
}

.component {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 50px;
  height: 450px;
  font-size: 18.5px;
  overflow: hidden;
}
.component:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
  scale: 1.02;
  transition: all 0.2s ease;
}

.component:hover img {
  scale: 1.1;
  transition: all 0.2s ease;
}

.text-wrapper {
  padding: 30px;
}
.component h2 {
  font-weight: 550;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.component li {
  line-height: 20px;
  text-wrap: wrap;
  font-size: 16px;
  margin-bottom: 10px;
}

.component img {
  max-height: 200px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#pivot-section {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-list button {
  padding: 10px 0px;
  margin-inline: 20px;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: grey;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.button-list button.active {
  color: rgba(20, 92, 194, 0.902);
  border-bottom: 4px solid rgba(20, 92, 194, 0.902);
  transition: all 0.2s ease;
}

.button-list button:hover {
  color: rgba(20, 92, 194, 0.902);
  border-bottom: 4px solid rgba(20, 92, 194, 0.902);
  transition: all 0.2s ease;
}

#advantages {
  padding-inline: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#advantages h1 {
  text-align: center;
  color: #00bcf1;
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.teachers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
  background-color: #fafafa;
  overflow: hidden;
}
.teachers .left {
  flex: 1;
}

.teachers .left i,
.students .right i {
  font-size: 42px;
  color: #00bcf1;
}

.teachers .left li,
.students .right li {
  line-height: 25px;
  font-size: 16px;
}

.teachers .left h2,
.students .right h2 {
  font-size: 2rem;
  padding-block: 1rem;
  font-weight: 500;
}

.teachers .right {
  flex: 1.5;
  overflow: hidden;
}
.teachers:hover .right img {
  scale: 1.02;
  transition: all 0.5s ease;
}

.teachers .right img {
  max-height: 500px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.students {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  overflow: hidden;
}
.students .left {
  flex: 1.5;
  overflow: hidden;
}
.students .right {
  flex: 1;
}
.students .left img {
  max-height: 500px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.students:hover .left img {
  scale: 1.02;
  transition: all 0.5s ease;
}

.text-content {
  padding: 50px;
  text-align: left;
}

hr {
  margin-top: 4rem;
  border: 1px solid #fafafa;
}

#institutes {
  text-align: center;
  padding: 2rem;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#institutes h1 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #00bcf1;
  padding: 10px;
  padding-bottom: 30px;
}

.institute-list {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
}
.institute-list img {
  height: 200px;
  width: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.institute-list img:hover {
  box-shadow: #00bcf1 0px 2px 8px 0px;
  scale: 1.05;
  transition: all 0.2s ease;
  cursor: pointer;
}

footer {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #666666;
  position: relative;
}

footer p {
  color: rgba(255, 255, 255, 0.865);
  padding: 3;
  margin: 0;
}
footer p a {
  color: white;
  text-decoration-line: none;
  border-bottom: 1px solid white;
}

#arrow-to-top {
  position: absolute;
  right: 50px;
  bottom: 120px;
  color: black;
  text-decoration: none;
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #eaeaea;
  cursor: pointer;
  transition: all 0.2s ease;
}
#arrow-to-top:hover {
  scale: 1.1;
  border-radius: 20px;
  transition: all 0.2s ease;
}
#arrow-to-top i {
  font-size: 42px;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 640px) {
  #hero {
    height: 400px;
  }
  #hero-content {
    position: absolute;
    z-index: 2;
    padding: 50px;
  }
  #hero-content h1 {
    font-size: 36px;
    padding-top: 50px;
  }
  #hero-content p {
    font-size: 18.5px;
    padding-top: 16px;
  }
  .institute-list {
    grid-template-columns: 1fr;
  }
  .image-container {
    grid-template-columns: 1fr;
  }

  #components {
    padding-inline: 2rem;
  }
  #advantages {
    padding-inline: 2rem;
  }

  .image {
    height: 500px;
    font-size: 14.5px;
  }
  #arrow-to-top {
    right: 20px;
    bottom: 80px;
    transform: scale(0.5);
  }
  .teachers .right img {
    display: none;
  }
  .students .left img {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  header {
    padding-left: 1rem;
  }
  #hero {
    height: 400px;
    overflow: hidden;
  }
  #hero-content {
    width: 100%;
  }
  .image-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 375px) {
  .image-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .institute-list {
    grid-template-columns: 1fr;
  }
  .image-container {
    grid-template-columns: 1fr;
  }
  .teachers {
    flex-direction: column;
  }
  .students {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 640px) {
  .image-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .institute-list {
    grid-template-columns: 1fr;
  }
  .image-container {
    grid-template-columns: 1fr;
  }
  .teachers {
    flex-direction: column;
  }
  .students {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 768px) {
  .institute-list {
    grid-template-columns: 1fr 1fr;
  }
  .image-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .institute-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .teachers {
    flex-direction: column;
  }
  .students {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 1280px) {
  .institute-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .image-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .teachers {
    flex-direction: row;
  }
  .students {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1450px) {
  .institute-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .image-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .teachers {
    flex-direction: row;
  }
  .students {
    flex-direction: row;
  }
}
